/*** Changes to the node form displayed to contributors. ***/


/* Hide the "Show summary in full view" checkbox on node/add pages. */
#edit-teaser-include-wrapper {
    display: none;
}

/* Hide formatting tips and "more info link" on node/add pages. */
#node-form ul.tips, .body-field-wrapper > p a {
  display: none;
}

/* Hide menu "weight" form. */
#edit-menu-weight-wrapper {
  display: none;
}

/* Hide "Promoted to front page" and "Sticky at top of lists". */
#edit-promote-wrapper, #edit-sticky-wrapper {
  display: none;
}
